<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.bean.Permission">
    <id column="pId" jdbcType="INTEGER" property="pid" />
    <result column="pUrl" jdbcType="VARCHAR" property="purl" />
    <result column="pDescription" jdbcType="VARCHAR" property="pdescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pId, pUrl,  pDescription
  </sql>
  
  <select id="selectByExample" parameterType="com.bean.PermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where pId = #{pid,jdbcType=INTEGER}
  </select>
  
  <!-- 通过角色id查询权限 -->
  <select id="selectByPermissionAndRole" parameterType="java.lang.Integer" resultMap="BaseResultMap">
         select p.pId,p.pUrl,p.pDescription from  role r,permission p,role_permission rp where r.rId=rp.rId and p.pId=rp.pId  and r.rId = #{rid,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where pId = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.PermissionExample">
    delete from permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.Permission">
    insert into permission (pId, pUrl,  
      pDescription)
    values (#{pid,jdbcType=INTEGER}, #{purl,jdbcType=VARCHAR},  
      #{pdescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pId,
      </if>
      <if test="purl != null">
        pUrl,
      </if>
      <if test="pdescription != null">
        pDescription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="purl != null">
        #{purl,jdbcType=VARCHAR},
      </if>
      <if test="pdescription != null">
        #{pdescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.PermissionExample" resultType="java.lang.Long">
    select count(*) from permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update permission
    <set>
      <if test="record.pid != null">
        pId = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.purl != null">
        pUrl = #{record.purl,jdbcType=VARCHAR},
      </if>
      <if test="record.pdescription != null">
        pDescription = #{record.pdescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update permission
    set pId = #{record.pid,jdbcType=INTEGER},
      pUrl = #{record.purl,jdbcType=VARCHAR},
      pDescription = #{record.pdescription,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Permission">
    update permission
    <set>
      <if test="purl != null">
        pUrl = #{purl,jdbcType=VARCHAR},
      </if>
      <if test="pdescription != null">
        pDescription = #{pdescription,jdbcType=VARCHAR},
      </if>
    </set>
    where pId = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Permission">
    update permission
    set pUrl = #{purl,jdbcType=VARCHAR},
      pDescription = #{pdescription,jdbcType=VARCHAR}
    where pId = #{pid,jdbcType=INTEGER}
  </update>
</mapper>