<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SumInfoMapper">
  <resultMap id="BaseResultMap" type="com.bean.SumInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="suma" jdbcType="REAL" property="suma" />
    <result column="sumb" jdbcType="REAL" property="sumb" />
    <result column="sumd" jdbcType="REAL" property="sumd" />
    <result column="sume" jdbcType="REAL" property="sume" />
    <result column="sumf" jdbcType="REAL" property="sumf" />
    <result column="sumh" jdbcType="REAL" property="sumh" />
    <result column="sumi" jdbcType="REAL" property="sumi" />
    <result column="sumg" jdbcType="REAL" property="sumg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, date, suma, sumb, sumd, sume, sumf, sumh, sumi, sumg
  </sql>
  <select id="selectByExample" parameterType="com.bean.SumInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from suminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from suminfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectAll"  resultMap="BaseResultMap">
    select * from suminfo order by id desc limit 1;
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from suminfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.SumInfoExample">
    delete from suminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.SumInfo">
    insert into suminfo (id, date, suma, 
      sumb, sumd, sume, sumf, 
      sumh, sumi, sumg)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{suma,jdbcType=REAL}, 
      #{sumb,jdbcType=REAL}, #{sumd,jdbcType=REAL}, #{sume,jdbcType=REAL}, #{sumf,jdbcType=REAL}, 
      #{sumh,jdbcType=REAL}, #{sumi,jdbcType=REAL}, #{sumg,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.SumInfo">
    insert into suminfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="suma != null">
        suma,
      </if>
      <if test="sumb != null">
        sumb,
      </if>
      <if test="sumd != null">
        sumd,
      </if>
      <if test="sume != null">
        sume,
      </if>
      <if test="sumf != null">
        sumf,
      </if>
      <if test="sumh != null">
        sumh,
      </if>
      <if test="sumi != null">
        sumi,
      </if>
      <if test="sumg != null">
        sumg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="suma != null">
        #{suma,jdbcType=REAL},
      </if>
      <if test="sumb != null">
        #{sumb,jdbcType=REAL},
      </if>
      <if test="sumd != null">
        #{sumd,jdbcType=REAL},
      </if>
      <if test="sume != null">
        #{sume,jdbcType=REAL},
      </if>
      <if test="sumf != null">
        #{sumf,jdbcType=REAL},
      </if>
      <if test="sumh != null">
        #{sumh,jdbcType=REAL},
      </if>
      <if test="sumi != null">
        #{sumi,jdbcType=REAL},
      </if>
      <if test="sumg != null">
        #{sumg,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.SumInfoExample" resultType="java.lang.Long">
    select count(*) from suminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update suminfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.suma != null">
        suma = #{record.suma,jdbcType=REAL},
      </if>
      <if test="record.sumb != null">
        sumb = #{record.sumb,jdbcType=REAL},
      </if>
      <if test="record.sumd != null">
        sumd = #{record.sumd,jdbcType=REAL},
      </if>
      <if test="record.sume != null">
        sume = #{record.sume,jdbcType=REAL},
      </if>
      <if test="record.sumf != null">
        sumf = #{record.sumf,jdbcType=REAL},
      </if>
      <if test="record.sumh != null">
        sumh = #{record.sumh,jdbcType=REAL},
      </if>
      <if test="record.sumi != null">
        sumi = #{record.sumi,jdbcType=REAL},
      </if>
      <if test="record.sumg != null">
        sumg = #{record.sumg,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update suminfo
    set id = #{record.id,jdbcType=INTEGER},
      date = #{record.date,jdbcType=TIMESTAMP},
      suma = #{record.suma,jdbcType=REAL},
      sumb = #{record.sumb,jdbcType=REAL},
      sumd = #{record.sumd,jdbcType=REAL},
      sume = #{record.sume,jdbcType=REAL},
      sumf = #{record.sumf,jdbcType=REAL},
      sumh = #{record.sumh,jdbcType=REAL},
      sumi = #{record.sumi,jdbcType=REAL},
      sumg = #{record.sumg,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.SumInfo">
    update suminfo
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="suma != null">
        suma = #{suma,jdbcType=REAL},
      </if>
      <if test="sumb != null">
        sumb = #{sumb,jdbcType=REAL},
      </if>
      <if test="sumd != null">
        sumd = #{sumd,jdbcType=REAL},
      </if>
      <if test="sume != null">
        sume = #{sume,jdbcType=REAL},
      </if>
      <if test="sumf != null">
        sumf = #{sumf,jdbcType=REAL},
      </if>
      <if test="sumh != null">
        sumh = #{sumh,jdbcType=REAL},
      </if>
      <if test="sumi != null">
        sumi = #{sumi,jdbcType=REAL},
      </if>
      <if test="sumg != null">
        sumg = #{sumg,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.SumInfo">
    update suminfo
    set date = #{date,jdbcType=TIMESTAMP},
      suma = #{suma,jdbcType=REAL},
      sumb = #{sumb,jdbcType=REAL},
      sumd = #{sumd,jdbcType=REAL},
      sume = #{sume,jdbcType=REAL},
      sumf = #{sumf,jdbcType=REAL},
      sumh = #{sumh,jdbcType=REAL},
      sumi = #{sumi,jdbcType=REAL},
      sumg = #{sumg,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>