<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.WellMapper">
  <resultMap id="BaseResultMap" type="com.bean.WellKey">
    <id column="wId" jdbcType="INTEGER" property="wid" />
    <id column="wName" jdbcType="VARCHAR" property="wname" />
    <id column="wRegion" jdbcType="VARCHAR" property="wRegion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    wId, wName
  </sql>
  <select id="selectByExample" parameterType="com.bean.WellExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from well
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bean.WellKey">
    delete from well
    where wId = #{wid,jdbcType=INTEGER}
      and wName = #{wname,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.WellExample">
    delete from well
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.WellKey">
    insert into well (wId, wName)
    values (#{wid,jdbcType=INTEGER}, #{wname,jdbcType=VARCHAR})
  </insert>
  <!-- 添加姓名 -->
  <insert id="insertName">
    insert into well (wName,wRegion)
    values (#{0},#{1})
  </insert>
  <insert id="insertSelective" parameterType="Map">
    insert into well
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wid != null">
        wId,
      </if>
      <if test="wname != null">
        wName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wid != null">
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="wname != null">
        #{wname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.WellExample" resultType="java.lang.Long">
    select count(*) from well
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
  <!-- 获取所有的信息 -->
  <select id="selectWellKeyAndwRegion" resultMap="BaseResultMap">
     select * from well
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update well
    <set>
      <if test="record.wid != null">
        wId = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.wname != null">
        wName = #{record.wname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update well
    set wId = #{record.wid,jdbcType=INTEGER},
      wName = #{record.wname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>