<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.WXUserMapper">
  <resultMap id="BaseResultMap" type="com.bean.WXUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="pusha" jdbcType="VARCHAR" property="pusha" />
    <result column="pushb" jdbcType="VARCHAR" property="pushb" />
    <result column="pushc" jdbcType="VARCHAR" property="pushc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, openid, nickname, headimgurl, pusha, pushb, pushc
  </sql>
  <select id="selectByExample" parameterType="com.bean.WXUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wxuser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wxuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPusha" resultMap="BaseResultMap">
   select * from wxuser where pusha=#{0}
  </select>
  <select id="selectByPushb" resultMap="BaseResultMap">
   select * from wxuser where pushb=#{0}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wxuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.WXUserExample">
    delete from wxuser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.WXUser">
    insert into wxuser (id, openid, nickname, 
      headimgurl, pusha, pushb, 
      pushc)
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{headimgurl,jdbcType=VARCHAR}, #{pusha,jdbcType=VARCHAR}, #{pushb,jdbcType=VARCHAR}, 
      #{pushc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.WXUser">
    insert into wxuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="headimgurl != null">
        headimgurl,
      </if>
      <if test="pusha != null">
        pusha,
      </if>
      <if test="pushb != null">
        pushb,
      </if>
      <if test="pushc != null">
        pushc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="pusha != null">
        #{pusha,jdbcType=VARCHAR},
      </if>
      <if test="pushb != null">
        #{pushb,jdbcType=VARCHAR},
      </if>
      <if test="pushc != null">
        #{pushc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.WXUserExample" resultType="java.lang.Long">
    select count(*) from wxuser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByIdAndPusha">
	update wxuser wx set wx.pusha=#{1} where wx.id=#{0}  
  </update>
  
  <update id="updateByIdAndPushb">
	update wxuser wx set wx.pushb=#{1} where wx.id=#{0}  
  </update>
  
  <update id="updateByIdAndPushc">
	update wxuser wx set wx.pushc=#{1} where wx.id=#{0}  
  </update>
  
  <update id="updateByExampleSelective" parameterType="map">
    update wxuser
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.headimgurl != null">
        headimgurl = #{record.headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.pusha != null">
        pusha = #{record.pusha,jdbcType=VARCHAR},
      </if>
      <if test="record.pushb != null">
        pushb = #{record.pushb,jdbcType=VARCHAR},
      </if>
      <if test="record.pushc != null">
        pushc = #{record.pushc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wxuser
    set id = #{record.id,jdbcType=INTEGER},
      openid = #{record.openid,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      headimgurl = #{record.headimgurl,jdbcType=VARCHAR},
      pusha = #{record.pusha,jdbcType=VARCHAR},
      pushb = #{record.pushb,jdbcType=VARCHAR},
      pushc = #{record.pushc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.WXUser">
    update wxuser
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="pusha != null">
        pusha = #{pusha,jdbcType=VARCHAR},
      </if>
      <if test="pushb != null">
        pushb = #{pushb,jdbcType=VARCHAR},
      </if>
      <if test="pushc != null">
        pushc = #{pushc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.WXUser">
    update wxuser
    set openid = #{openid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      pusha = #{pusha,jdbcType=VARCHAR},
      pushb = #{pushb,jdbcType=VARCHAR},
      pushc = #{pushc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>